*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../images/bg-login.jpg')no-repeat;
    background-position: center;
  background-repeat:  repeat;
    background-size: cover;
}
.form-box{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 500px;
    height: 550px;
}
.form-box-card{
    position: absolute;
    width: 500px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(68, 67, 67, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-box span{
    position: absolute;
    border-bottom: 3px solid #d34808;
    left: 0;
    top: 48px;
    width: 0%;
    transition: .3s;
}
.input-box input:focus~span{
    width: 100%;
}
.input-box.error input{
    border-bottom: 2px solid #f70808;
}
/* đăng nhập */
.form-login{
    left: 0;
}
/* đăng kí */
.form-register{
    left: 0;
}
/* quyên mật khẩu */
.form-Forgotpassword{
    left: 0;
}
.forget-password{
    display: flex;
    justify-content: space-around; 
}
/*  */
.logo img{
    width: 200px;
    margin-left: 50px;
    opacity: 80;
    filter: drop-shadow(0 0 5px #f0f003);
}
.form-box-card .input-box{
    position: relative;
    margin: 30px 0;
    width: 310px;
    height: 50px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    font-weight: 600;
    color: #000;
    font-size: 1em;
    pointer-events: none;
    transform: translateY(-50%);
    transition: .5s;
}
 input:focus ~ label,
 input:valid ~ label{
top: -5px;
}
.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #000;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #000;
    display: flex;
    /* float: right; */
    justify-content: space-between;  
}
.forget label input{
    margin-right: 3px;
}
.forget  a{
    text-decoration: none;
    color: #000;
}
.main a:hover,
.forget  a:hover{
    text-decoration: underline;
}
.btn-submit{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #d3a550;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.btn-submit:hover{
    opacity: 0.6;
    cursor: pointer;
}
.come-back{
    font-size: .9em;
    color: #000;
    text-align: center;
    margin: 25px 0 10px;
}
.come-back p a{
    text-decoration: none;
    color: #000;
    padding-left: 5px;
    font-weight: 600;
}
.come-back p a:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* mobile */
@media(max-width:46.1875em){
    .form-box {
        width: 360px;
    }
    .form-box-card {
        width: 350px;
    }
}